header {
    height: 120px;
    background-color: #036EB8;
    display: flex;
}

.logo {
    background-color: white;
    margin-top: 30px;
    height: fit-content;
    display: flex;
    width: 100%;
}

.logo span {
    margin-top: 35px;
    margin-left: 10px;
    font-weight: bold;
}

.logo img {
    height: 90px;
    width: 120px;
}